.container-sm {
    margin-top: 5%;
    margin-left: 15%;
}
@media (max-width: 576px) {
    .container-sm {
      margin-top: 3%;
      margin-left: 5%;
    }
  }
  
  @media (min-width: 577px) and (max-width: 991px) {
    .container-sm {
      margin-top: 4%;
      margin-left: 10%;
    }
  }